@font-face {
  font-family: "PressStart2P";
  src: url(Font/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: "BoutiqueBitmap";
  src: url(Font/BoutiqueBitmap9x9_1.9.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "PressStart2P", "BoutiqueBitmap", sans-serif;
}

body {
  background-color: white;
  box-sizing: border-box;
  /* background: url("Assets/image copyx  .png") no-repeat center center/cover; */
  height: 2000px;
}

/* Navbar Start*/
.navbar {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  /* border: 1px solid black; */
}

.navbar .logo {
  padding: 20px;
  cursor: pointer;
  color: #3d4e4c;
}

.navbar ul {
  display: flex;
  width: 65vw;
  justify-content: space-around;
}

.navbar ul li {
  list-style: none;
  padding: 20px;
  font-size: 14px;
}

.navbar ul li a {
  text-decoration: none;
  position: relative;
  color: #55425b;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: rgba(50, 0, 60, 0.8);
  backdrop-filter: blur(10px);

  transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
}
/* Navbar End */

/* Main Start */
main {
  /* position: relative; */
  top: 50px;
}

main .background {
  width: 100%;
}

.card {
  width: 235px;
  height: 300px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
  position: absolute;
  top: 100px;
  right: 100px;
}

.inner {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  top: 4%;
  right: 4%;
  width: 92%;
  height: 92%;
}

.inner img {
  width: 270px;
  margin-left: -20px;
}

.inner .shadow {
  width: 100px;
  height: 35px;
  margin-left: 70px;
  position: relative;
  bottom: 45px;
  z-index: -1;
}

.desc {
  height: 85px;
  top: 420px;
}
