@font-face {
  font-family: "PressStart2P";
  src: url(Font/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: "BoutiqueBitmap";
  src: url(Font/BoutiqueBitmap9x9_1.9.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "PressStart2P", "BoutiqueBitmap", sans-serif;
}

body {
  background-color: white;
  box-sizing: border-box;
  /* background: url("Assets/image copyx  .png") no-repeat center center/cover; */
  height: 2000px;
}

/* Main Start */

.image-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-container .background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;

  object-fit: cover;
  object-position: center;
}

.background-blur {
  position: absolute;
  width: 100px;
  height: 691px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}
