@font-face {
  font-family: "PressStart2P";
  src: url(Font/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: "BoutiqueBitmap";
  src: url(Font/BoutiqueBitmap9x9_1.9.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans+JP:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "PressStart2P", "BoutiqueBitmap", sans-serif;
}

body {
  color: white;
  box-sizing: border-box;
  /* background: url("Assets/image copyx  .png") no-repeat center center/cover; */
  /* height: 2000px; */
}

/* Main Start */

.image-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-container .background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;

  object-fit: cover;
  object-position: center;
}

.blur {
  position: absolute;
  height: 80vh;
  top: 60px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

.desc {
  right: 80px;
  width: 57%;
}

.navbar {
  width: 100%;
  height: 9%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.close-box {
  width: 10%;
  height: 100%;
  border-right: 1px solid white;
  display: flex;
}

.right {
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.earth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.earth img {
  width: 50%;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 21px;
}

.japanese {
  font-size: 18px;
  color: #f5d548;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

.option {
  left: 80px;
  width: 24%;
}
